/* Dashboard Container - Utilise principalement Tailwind */
.dashboard {
  display: flex;
  min-height: 100vh;
  background: #f8fafc;
}

/* Dashboard Content */
.dashboard-content {
  flex: 1;
  margin-left: 280px;
  /* margin-right: 5px; */
  transition: margin-left 0.3s ease;
  min-height: 100vh;
  background: #f8fafc;
}

.dashboard-content.sidebar-collapsed {
  margin-left: 70px;
}

/* Responsive */
@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0;
  }
  
  .dashboard-content.sidebar-collapsed {
    margin-left: 0;
  }
}
